<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container">
      <div class="form-container">
        <form class="border border-info" method="post" action="/savedata">
          <!-- Patient Info -->
          <%- include partials/patientcf.ejs %>

          <!-- Result -->
          <%- include partials/resultcf.ejs %>

          <!-- Button -->
          <%- include partials/confirmformbtn.ejs %>
        </form>
      </div>
    </div>
  </body>
</html>
